		<footer class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div id="laboratoria-banner"></div>
        </div> 
        <div class="col-sm-6 text-right">
          <ul>
            <li>Ruwasunchis</li>
            <li>info@ruwasunchis.org</li>
            <li>51 998 887 776</li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- APP SCRIPTS -->
    <script src="{site_url}app/assets/js/jquery.min.js"></script>
    <script src="{site_url}app/assets/js/collapse.js"></script>
    <script src="{site_url}app/assets/js/dropdown.js"></script>
    <script src="{site_url}app/assets/js/transition.js"></script>
    <script src="{site_url}app/assets/js/scripts.min.js"></script>
    
    <script src="{site_url}app/assets/js/flickity.pkgd.min.js"></script>
    <script>
    //   $(window).load(function() {
    //     $('.flexslider').flexslider({
    //       animation: "slide"
    //     });
    //   });
    // </script>
    <script src="{site_url}app/assets/js/modal.js"></script>
    <script>
      $(document).ready(function(){
        $('.main-gallery').flickity({
          // options
          cellAlign: 'left',
          contain: true
        });
      });
    </script>
  </body>
</html>