<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <!-- WebFonts -->
      <!-- APP STYLES
        *Run grunt build when ready
        <link rel="stylesheet" href="assets/css/style.pkgd.min.css">
      -->
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href="{site_url}app/assets/css/style.css" rel="stylesheet">
    <link href="{site_url}app/assets/css/ebm.css" rel="stylesheet">
  </head>
  <body>
  <header class="header">
      <div class="left col-sm-3 relative">
        <a href="{site_url}/home">
          <img src="{site_url}app/assets/img/logo.jpg" alt="" class="ignore-srcset">
        </a>
      </div>
      <div class="right col-sm-9 hidden-xs hidden-sm flex-middle-center">
        <nav>
          <a href="{site_url}about-us">About Us</a>
          <a href="{site_url}our-work">Our Work</a>
          <a href="{site_url}#get Involved">Get Involved</a>
          <a href="{site_url}allies">Allies</a>
          <a href="{site_url}blog">Blog</a>
          <a href="{site_url}#social">Follow Us</a>
          <span>
          <a href="{site_url}home" class="text-gray-darker">en</a> |
          <a href="{site_url}inicio">es</a>
          </span>          
        </nav>
      </div>
      <div class="right hidden-md hidden-lg">
        <button type="button" class="tcon tcon-menu--xcross hidden-md-up pull-right" aria-label="toggle menu" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
      </div>
    </header>