{exp:channel:entries channel="nosotros_en" limit="1" dynamic="off"}
<section id="mision-vision" class="bg-white">
  <div class="container">
    <div class="row page-block text-center nosotros-mision-vision">
      <div class="col-sm-6 mt-14">
        <img src="{site_url}app/assets/img/svg/mision.svg" class="ignore-srcset" alt="">
        <h2 class="pb-0 mt-21">Misi&#xF3;n</h2>
        <p>{mision}</p>
      </div>
      <div class="col-sm-6">
        <img src="{site_url}app/assets/img/svg/vision.svg" class="ignore-srcset" alt="">
        <h2 class="pb-0">Visi&#xF3;n</h2>
        <p>{vision}</p>
      </div>
    </div>
  </div>
</section>
{/exp:channel:entries}