{embed="includes/head"}

    <section id="blog">
      <div class="container page-block blog">
        <ul class="grid-list grid-list-1">
	        {exp:channel:entries channel="blog" limit="10"}
          <li class="blog-post pb-35">
            <h2>{title}</h2>
            <h3>{current_time format="%d %F, %Y"}</h3>
            <div class="image-heroe page-block" style="background:url({imagen_blog}) center center / cover no-repeat;"></div>
            <p>{introduccin_post}</p>
            <a href="{site_url}/blog/post/{url_title}"><strong>Leer m&#xE1;s</strong></a>
          </li>
					{/exp:channel:entries}
        </ul>
      </div>
    </section>

{embed="includes/footer"}
