{embed="includes/head_en"}

      <section id="image-heroe">
        <div class="image-heroe" style="background:url({site_url}app/assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
      </section>

      <section id="programas">
        <div class="container-fluid">
          <div class="row text-center page-block nuestro-trabajo">
            <h2>Our Programs</h2>
            {exp:channel:entries channel="nuestro_trabajo_en" limit="3" category="1"}
            <div class="col-sm-4 ph-63">
              {nuestro_trabajo_imagen}
              <img src="{image:url:medium}" alt="{title}" class="img-responsive" width="100%">
              {/nuestro_trabajo_imagen}
              <h4><a href="{site_url}our-work/program/{url_title}">{title}</a></h4>
              <p>
	              {exp:char_limit total="150" exact="no"}
	              {nuestro_trabajo_introduccin}
								{/exp:char_limit} 
	            </p>
            </div>
            {/exp:channel:entries}
          </div>
				</div>
      </section>

      <section id="estrategias">
	      <div class="container-fluid">
	        <div class="row text-center page-block bg-gray">
	          <h2>Our Transversal Strategies</h2>
	          {exp:channel:entries channel="nuestro_trabajo_en" limit="3" category="2"}
	          <div class="col-sm-3">
	          	{nuestro_trabajo_imagen}
	            	<img src="{image:url:medium}" alt="{title}">
	            {/nuestro_trabajo_imagen}
	            <h3><a href="{site_url}our-work/program/{url_title}">{title}</a></h3>
	          </div>
	          {/exp:channel:entries}
	        </div>
	      </div>
      </section>

      <section id="areas-intervencion">
	      <div class="container-fluid">
	        <div class="row text-center page-block areas-de-intervencion">
	          <h2>Our Areas of Intervention</h2>
	          {exp:channel:entries channel="nuestro_trabajo_en" limit="2" category="3"}
	          <div class="col-sm-6">
	            <a href="{site_url}our-work/program/{url_title}">
	            {nuestro_trabajo_imagen}
	            <img src="{image:url:medium}" alt="{title}" class="img-responsive">
	            {/nuestro_trabajo_imagen}
	            </a>
	            <h3><a href="{site_url}our-work/program/{url_title}">{title}</a></h3>
	          </div>
	          {/exp:channel:entries}
	        </div>
	      </div>
      </section>

{embed="includes/footer"}
