footer {
  padding: 60px;
}

.made-by-laboratoria {
  height:60px;
}

.logo-laboratoria-footer {
  float:left;
  height:100%;
  width:60px;
  line-height:60px;
  background: orange;
  font-size:2em;
  text-align:center;
  line-height:60px;
}

.hover-footer-by-laboratoria {
  float:left;
  height:100%;
  width:210px;
  text-align:left;
  background:#F2F2F2;
  padding:10px;
  p {
    padding: 0;
    line-height:20px;
  }
}
