html,
body {
	min-height: 100%;
	height: 100%;
	background-color: $body-bg;
	// overflow-x: hidden;
	&::-webkit-scrollbar {
    display: none;
	}
}

// SIZE CONTROL VARS
$size-control-placeholder: 530px;
	// Banners
$banner-height: 350px;
	// Site menu
$site-menu-width-control: 101px;
$menu-list-icons-width: 35px;
	// Header
$header-height-control: 70px;
	// Mobile header
$mobile-navbar-height: 56px;
	// Hero Unit and Videocover
$video-bg-height: 491px;
	// User cards
$user-card-height: 42px;
$user-card-width: 70px;

.site-wrapper,
.site-content {
	min-height: 100%;
	height: 100%;
	position: relative;
}

// HERO UNIT
.hero-unit {
	position: relative;
	height: $video-bg-height;
	@include bg-img-control;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay,
	.hero-unit-pic {
		@include position(absolute, 0 0 0 0);
		height: $video-bg-height;
	}
	.hero-unit-pic {
		img {
			width: 100%;
			height: auto;
		}
	}
}

// CLICKABLE DIV
[data-href]{
	cursor: pointer;
}

// Heroe image

img.image-heroe {
	width: 100%;
	height: auto;
}


// Page Blocks

.page-block {
	min-height: 300px;
	padding: 70px 0;
}

// very dark gray background
.bg-gray-darkest {
	background: $gray-darkest;
}

// Buttons

.btn-outline2{
		border-radius: 7px;
		padding: 14px;
		margin: 0 auto 56px;
		transition: background 0.3s ease, color 0.3s ease;
		&.btn-success2 {
			color: $brand-success;
			border: 1px solid $brand-success;
			&:hover {
				background: $brand-success;
				color: $gray-lighter;
			}
		}
		&.btn-gray-lighter2 {
			color: $gray-lighter;
			border: 1px solid $gray-lighter;
			&:hover {
				background: $gray-lighter;
				color: $gray-darker;
			}
		}
	}
	.btn-outline2-mini {
		@extend .btn-outline2;
		padding:7px;
		width: 50%;
		border-radius: 4px;
	}

//////// Home

h2.home {
		padding-bottom: 35px;
		font-weight: 400;
		font-size: 2.6em;
		font-color: $gray-dark;
	}

// Bienvenidos

.bienvenidos {
	width: 75%;
	margin: 0 auto;
	p {
		color: $gray-darkest;
		font-size: 1.4em;
		font-weight: 300;
		width:60%;
		padding-bottom: 27px;
		}
}

// Nuestro trabajo

.nuestro-trabajo {
	img {
		padding-bottom: 14px;
	}
	h3 {
		font-weight: 300;
	}
	p {
		width: 52%;
		margin: 0 auto;
		text-align:center;
		font-size: 1em;
		font-weight: 500;
	}
}

// Involucrate

.involucrate {
	.cuadrado-involucrate {
		width:100%;
		height:190px;
		background: black;
		margin: 0 auto;
		position: relative;
	}
	.involucrate-background {
		width: 100%;
		height: 100%;
		z-index: 20;
	}

	.bottom-half-container {
		height: 60%;
		position: absolute;
		bottom:0;
		width:100%;
			h3, a {
				display:block;
				text-align: center;
				margin: 0 auto;
				font-weight: 500;
				color: #fff;
			}
			h3 {
				margin-bottom: 14px;
				font-size: 1.2em;
			}
			a {
				visibility:hidden;
				font-size: 1.6em;
				&:hover {
					text-decoration: none;
				}
			}
	}

	.overlay-involucrate {
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background: rgba(0,0,0,0.3);
	}

	.cuadrado-involucrate:hover .overlay-involucrate {
		background: rgba(0,0,0,0.8);
		z-index: 30;
		a {
			visibility: visible;
		}
	}
}

// Aliados

.aliados {
	h2 {
		margin: 0;
		padding: 0 0 56px;;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding-bottom: 14px;
				a {	
				font-size: 1.8em;
				font-weight: 300;
				color: $gray-darkest;
				text-decoration: none;
				&:hover {
					color: $blue;
				}
			}	
		}
	}
	.img-aliados {
		 height:431px;
		 background-size: cover !important;
		 background-position: center !important;
	}
}

// Nosotros

.nosotros {
	img {
		padding-bottom: 35px;
		height: 150px;
		width: auto;
		display: block;
		margin: 0 auto;
	}
	h2 {
		color: $gray-darkest;
		font-weight: 200;
	}
	p {
		width: 60%;
		margin: 0 auto;
		font-weight: 500;
	}
}

// Blog

.blog-posts-home {
	div.blog-post-image {
		height: 180px;
		width: 100%;
		margin: 0 auto;
		background-size: cover !important;
		background-position: center !important;
		margin-bottom: 21px;
	} 
	h3 {
		margin: 0 auto;
		font-weight: 300;
		font-size: 2.2em;
		padding-bottom: 21px;
		color: $gray-darkest;
	}
	p {
		margin:0 auto;
	}
}

// Social

	.social {
		> li {
			a {
				width: 210px;
				height: 210px;
				border: 2px solid $gray-lighter;
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				&:hover {
					.overlay {
						@include transform(translateX(0));
						@include transition(all 0.2s ease-in-out);
					}
				}
				.overlay {
					position: absolute;
					width: 210px;
					height: 100%;
					top:0;
					z-index: 10;
					padding: $grid-gutter-width / 2;
					@include transform(translateX(-100%));
					@include transition(all 0.2s ease-in-out);
				}
				h3 {
					position: absolute;
					top: $grid-gutter-width / 2;
					left: $grid-gutter-width / 2;
					margin: 0;
					text-align: left;
					font-size: $font-size-h3;
					color: white;
					@include book;
					z-index: 30;
				}
				.icon {
					position: absolute;
					display: block;
					bottom: 0;
					right: 0;
					padding: 21px;
					z-index: 30;
				}
				&.facebook {
					.overlay {
						background: $facebook-blue;
					}
					.icon {
						background: url(/assets/img/svg/facebook.svg) no-repeat;
					}
				}
				&.youtube {
					.overlay {
						background: $youtube-red;
					}
					.icon {
						background: url(/assets/img/svg/youtube.svg) no-repeat;
					}
				}
				&.twitter {
					.overlay {
						background: $twitter-blue;
					}
					.icon {
						background: url(/assets/img/svg/twitter.svg) no-repeat;
					}
				}
				&.contact {
					.overlay {
						background: $mail-green;
					}
					.icon {
						background: url(/assets/img/svg/mail.svg) no-repeat;
					}
				}
			}
		}
	}

// Modals

.modal-body {
	padding: 0 42px;
	h2 {
		padding-bottom: 35px;
		color: $gray-darkest;
		font-weight: 300;
		text-align: center;
	}
	p {
		padding: 0;
		padding-bottom: 7px;
		font-size: 1em;
		text-align: center;
	}
	button {
		margin: 0 auto;
		display: block;
		margin-bottom: 21px;
	}
}

///////// Blog

// &:first-of-type::first-letter {
// 			font-weight: bold;
// 			font-size: 2em;
// 			}
