header,
.header {
	// @include position(absolute, 0 0 null 0);
	// @include position(fixed, 0 0 null 0);
	// z-index: 1000;
	@include flex-space-between;
	@include normalize-text;
	width: 100%;
	padding: 0 $container-fluid;
	min-height: $header-height-control;
	.left,
	.center,
	.right {
		min-height: $header-height-control;
		@include flex-middle;
	}
	.left {

	}
	.center {
		text-align: center;
	}
	.right {

	}
}

// Sizing and positioning the logo

header {
	position: relative;
	height: 70px;
	.left {
		a {
		display: block;
		position: absolute;
		top:0;
		width: 80%;
		z-index: 30;
		text-align: center;
		img {
			width: 100px;
			height: auto;
			background: #fff;
			border-radius: 50%;
			padding: 4px;
		}
		}
	}
	nav{
		width: 80%;
		@include flex-space-between;
		position: relative;
		margin-left: 120px;
		a {
			font-weight: 200;
			font-size: 1.3em;
			color: $gray-dark;
			&:hover {
			text-decoration: none;
			color: $brand-success;
			}
			&.selected {
				color: $brand-success;
			}
		}
	}
}
