{embed="includes/head"}

    <section id="blog">
      <div class="container page-block blog">
        <ul class="grid-list grid-list-1">
          <li class="blog-post">
            <h2>T&#xED;tulo del post</h2>
            <h3>13 de enero del 2015</h3>
            <div class="image-heroe page-block" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, laboriosam tenetur. Dolores commodi iure reiciendis, libero deleniti optio soluta, rem ducimus harum aspernatur porro temporibus vero ea odio aut totam!</p>
            <a href=""><strong>Leer m&#xE1;s</strong></a>
          </li>
          <li>
            <h2>T&#xED;tulo del post</h2>
            <h3>13 de enero del 2015</h3>
            <div class="image-heroe page-block" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, laboriosam tenetur. Dolores commodi iure reiciendis, libero deleniti optio soluta, rem ducimus harum aspernatur porro temporibus vero ea odio aut totam!</p>
            <a href=""><strong>Leer m&#xE1;s</strong></a>
          </li>
          <li>
            <h2>T&#xED;tulo del post</h2>
            <h3>13 de enero del 2015</h3>
            <div class="image-heroe page-block" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, laboriosam tenetur. Dolores commodi iure reiciendis, libero deleniti optio soluta, rem ducimus harum aspernatur porro temporibus vero ea odio aut totam!</p>
            <a href=""><strong>Leer m&#xE1;s</strong></a>
          </li>
          <li>
            <h2>T&#xED;tulo del post</h2>
            <h3>13 de enero del 2015</h3>
            <div class="image-heroe page-block" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, laboriosam tenetur. Dolores commodi iure reiciendis, libero deleniti optio soluta, rem ducimus harum aspernatur porro temporibus vero ea odio aut totam!</p>
            <a href=""><strong>Leer m&#xE1;s</strong></a>
          </li>
        </ul>
      </div>
    </section>

{embed="includes/footer"}
