{embed="includes/head"}

    <section id="blog-post">
      <div class="container blog-post-title page-block page-block-mini">
        <h2>T&#xED;tulo del post:</h2>
        <h3>13 de enero del 2015</h3>
      </div>
      <div class="miniimage-heroe" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
      <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo autem officia laboriosam voluptatibus eum ipsa nisi aspernatur cumque, mollitia quod, dolore in natus maiores aut, iusto et aperiam dolorem quia?</p>
      </div>
      <div class="container text-center">
        <a href="" class="btn btn-success btn-outline">M&#xE1;s del blog</a>
      </div>
    </section>


{embed="includes/footer"}
