{embed="includes/head"}

    <header class="header">
      <div class="left col-sm-3 relative">
        <a href="/">
          <img src="{site_url}app/assets/img/logo.jpg" alt="" class="ignore-srcset">
        </a>
      </div>
      <div class="right col-sm-9 hidden-xs hidden-sm flex-middle-center">
        <nav>
          <a href="nosotros.html">Nosotros</a>
          <a href="nuestro-trabajo.html">Nuestro Trabajo</a>
          <a href="#involucrate">Involúcrate</a>
          <a href="socios.html">Aliados</a>
          <a href="blog.html">Blog</a>
          <a href="#social">Síguenos</a>
        </nav>
      </div>
      <div class="right hidden-md hidden-lg">
        <button type="button" class="tcon tcon-menu--xcross hidden-md-up pull-right" aria-label="toggle menu" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle menu</span>
        </button>
      </div>
    </header>

    <section id="hero">
      <div class="hero-unit minhp-100" style="background-image: url('assets/img/Foto2-960.jpg')">
        <div class="overlay">
          <div class="container"></div>
        </div>
      </div>
    </section>

    <section id="bienvenidos">
      <div class="container-fluid">
        <div class="row page-block flex-middle-center text-center bienvenidos">
          <h2 class="home">Bienvenidos a Ruwasunchis</h2>
          <p>Ruwasunchis es un movimiento conformado por jóvenes,en un equipo multidisciplinario, que promueve el desarrollo sostenible de comunidades vulnerables en el Perú.</p>
          <a href="" class="btn btn-outline2 btn-success2">Conoce más sobre nosotros</a>
        </div>
      </div>
    </section>

    <section id="nuestro-trabajo">
      <div class="container-fluid"> <!-- 3rd Section: Nuestro Trabajo -->
        <div class="row text-center page-block bg-gray flex-middle-center nuestro-trabajo">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="home">Nuestro Trabajo</h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-4">
                <img src="assets/img/svg/programas.svg" alt="" class="ignore-srcset">
                <h3>Programas</h3>
                <p>Reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat</p>
              </div>
              <div class="col-sm-4">
                <img src="assets/img/svg/estrategias.svg" alt="" class="ignore-srcset">
                <h3>Estrategias</h3>
                <p>Reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat</p>
              </div>
              <div class="col-sm-4">
                <img src="assets/img/svg/areas-de-intervencion.svg" alt="" class="ignore-srcset">
                <h3>Áreas de intervención</h3>
                <p>Reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="involucrate">
      <div class="container-fluid pv-42" id="involucrate">
        <h2 class="home text-center">Involúcrate</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="bg-img-block involucrate-block" style="background-image: url(assets/img/foto3-480.jpg)">
              <div class="overlay">
                <h3>Educa un niño</h3>
                <a href="#" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#beca-nino">Beca</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="bg-img-block involucrate-block" style="background-image: url(assets/img/foto3-480.jpg)">
              <div class="overlay">
                <h3>Beca a un joven</h3>
                <a href="#" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#beca-joven">Beca</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="bg-img-block involucrate-block" style="background-image: url(assets/img/foto3-480.jpg)">
              <div class="overlay">
                <h3>Sé voluntario</h3>
                <a href="#" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#voluntario">Beca</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="bg-img-block involucrate-block" style="background-image: url(assets/img/foto3-480.jpg)">
              <div class="overlay">
                <h3>Red de empresas</h3>
                <a href="#" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#red-empresas">Beca</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="aliados">
      <div class="container-fluid">
        <div class="row text-center bg-gray aliados">
          <div class="col-sm-6 page-block">
            <h2 class="home">Aliados</h2>
            <ul>
              <li><a href="/">Socios Corporativos</a></li>
              <li><a href="/">Aliados Internacionales</a></li>
              <li><a href="/">Aliados Nacionales</a></li>
              <li><a href="/">Empresas Colaboradoras</a></li>
            </ul>
          </div>
          <div class="col-sm-6 minhp-100 img-aliados" style="background: url('assets/img/foto2.jpg');"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="blog">
        <div class="container-fluid">
          <div class="row page-block blog-posts-home ph-21">
            <div class="col-xs-12">
              <h2 class="home text-center">Blog</h2>
              <div class="row">
                <div class="col-sm-3 ph-42 single-blog-post-in-home">
                  <div class="blog-post-image" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/img/foto2.jpg');"></div>
                  <h3><a href="">El título</a></h3>
                  <p>Acá podemos poner un poco de texto sobre lo que trata est post tan interesante de Ruwasunchis. Debes leerlo, te hará mucho bien.</p>
                </div>
                <div class="col-sm-3 ph-42 single-blog-post-in-home">
                  <div class="blog-post-image" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/img/foto2.jpg');"></div>
                  <h3><a href="">El título</a></h3>
                  <p>Acá podemos poner un poco de texto sobre lo que trata est post tan interesante de Ruwasunchis. Debes leerlo, te hará mucho bien.</p>
                </div>
                <div class="col-sm-3 ph-42 single-blog-post-in-home">
                  <div class="blog-post-image" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/img/foto2.jpg');"></div>
                  <h3><a href="">El título</a></h3>
                  <p>Acá podemos poner un poco de texto sobre lo que trata est post tan interesante de Ruwasunchis. Debes leerlo, te hará mucho bien.</p>
                </div>
                <div class="col-sm-3 ph-42 single-blog-post-in-home">
                  <div class="blog-post-image" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/img/foto2.jpg');"></div>
                  <h3><a href="">El título</a></h3>
                  <p>Acá podemos poner un poco de texto sobre lo que trata est post tan interesante de Ruwasunchis. Debes leerlo, te hará mucho bien.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="social">
      <div class="container-fluid" id="social">
        <div class="row page-block bg-gray-darkest social-section">
          <div class="container text-white">
            <h2>Encontrémonos:</h2>
            <div id="share-grid" class="grid-list grid-list-4 grid-list-2-sm grid-list-1-xs">
              <a href="#" class="grid-list-item">
                <h3 class="network-name">Facebook</h3>
                <div class="share-icon"><i class="icon-facebook"></i></div>
                <div class="overlay bg-facebook"></div>
              </a>
              <a href="#" class="grid-list-item">
                <h3 class="network-name">Twitter</h3>
                <div class="share-icon"><i class="icon-twitter"></i></div>
                <div class="overlay bg-twitter"></div>
              </a>
              <a href="#" class="grid-list-item">
                <h3 class="network-name">YouTube</h3>
                <div class="share-icon"><i class="icon-you-tube"></i></div>
                <div class="overlay bg-youtube"></div>
              </a>
              <a href="#" class="grid-list-item">
                <h3 class="network-name">Email</h3>
                <div class="share-icon"><i class="icon-email-at"></i></div>
                <div class="overlay bg-primary"></div>
              </a>
            </div>
          </div>
          <!-- <ul class="grid-list grid-list-centered grid-list-1-xs grid-list-3-sm grid-list-4 social grid-list-anchors">
            <li>
              <a href="https://www.facebook.com/laboratoria.la" class="facebook">
                <h3>Comenta</h3>
                <div class="overlay">
                </div>
                <div class="icon"></div>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UClhhbCO2gmGZGwzSnQF8gew/feed" class="youtube">
                <h3>Mira</h3>
                <div class="overlay">
                </div>
                <div class="icon"></div>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/LaboratoriaLA" class="twitter">
                <h3>Twitea</h3>
                <div class="overlay">
                </div>
                <div class="icon"></div>
              </a>
            </li>
            <li>
              <a href="mailto:sumate@laboratoria.la" class="contact">
                <h3>Contacta</h3>
                <div class="overlay">
                </div>
                <div class="icon"></div>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
    </section>

    <!-- Modals -->

    <section id="modals">

      <section id="modal-beca-nino">
        <div class="modal fade beca-nino" id="beca-nino" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Beca a un joven con estudios técnicos y educación integral</h2>
                <p>Puedes colaborar a darle educación a un niño, puedes hacer un depósito a la siguiente cuenta bancaria: 3456-3456-24684-789.</p>
                <p>Por cada 50 dólares , un niño será capaz de educarse y se enviará un polo de Ruwasunchis con un mensaje especial del niño beneficiado.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Apellido</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </form>
              </div>
            </form>
            </div>
          </div>
        </div>
      </section>

      <section id="modal-beca-joven">
        <div class="modal fade beca-nino" id="beca-joven" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Beca a un joven con estudios técnicos y educación integral</h2>
                <p>Puedes colaborar a darle educación a un niño, puedes hacer un depósito a la siguiente cuenta bancaria: 3456-3456-24684-789.</p>
                <p>Por cada 50 dólares , un niño será capaz de educarse y se enviará un polo de Ruwasunchis con un mensaje especial del niño beneficiado.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Apellido</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </form>
              </div>         
            </div>
          </div>
        </div>
      </section>

      <section id="modal-voluntario">
        <div class="modal fade beca-nino" id="voluntario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Beca a un joven con estudios técnicos y educación integral</h2>
                <p>Puedes colaborar a darle educación a un niño, puedes hacer un depósito a la siguiente cuenta bancaria: 3456-3456-24684-789.</p>
                <p>Por cada 50 dólares , un niño será capaz de educarse y se enviará un polo de Ruwasunchis con un mensaje especial del niño beneficiado.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Apellido</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </form>
              </div>         
            </div>
          </div>
        </div>
      </section>

      <section id="modal-red-empresas">
        <div class="modal fade beca-nino" id="red-empresas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Beca a un joven con estudios técnicos y educación integral</h2>
                <p>Puedes colaborar a darle educación a un niño, puedes hacer un depósito a la siguiente cuenta bancaria: 3456-3456-24684-789.</p>
                <p>Por cada 50 dólares , un niño será capaz de educarse y se enviará un polo de Ruwasunchis con un mensaje especial del niño beneficiado.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Apellido</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </form>
              </div>         
            </div>
          </div>
        </div>
      </section>

    </section>


    
{embed="includes/footer"}