{embed="includes/head"}

    <section id="heroe-image">
      <div class="image-heroe" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
    </section>

    <section id="mision-vision">
      <div class="container">
        <div class="row page-block text-center nosotros-mision-vision">
          <div class="col-sm-6">
            <img src="assets/img/svg/mision.svg" class="ignore-srcset" alt="">
            <h2>Misi&#xF3;n</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo explicabo, omnis, minus sit corrupti blanditiis aspernatur natus quidem perferendis rem, iure voluptate doloribus ipsa, molestiae id. Molestias porro nisi quam!</p>
          </div>
          <div class="col-sm-6">
            <img src="assets/img/svg/vision.svg" class="ignore-srcset" alt="">
            <h2>Visi&#xF3;n</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo explicabo, omnis, minus sit corrupti blanditiis aspernatur natus quidem perferendis rem, iure voluptate doloribus ipsa, molestiae id. Molestias porro nisi quam!</p>
          </div>
        </div>
      </div>
    </section>

    <section id="equipo">
      <div class="container-fluid">
        <div class="row text-center page-block bg-gray nosotros-equipo">
          <h2>Equipos</h2>
          <div class="col-xs-6 text-right pb-21">
            <img src="assets/img/Foto2.jpg" alt="" srcset="assets/img/Foto2-480.jpg 480w, assets/img/Foto2-720.jpg 720w, assets/img/Foto2-940.jpg 940w, assets/img/Foto2-1140.jpg 1140w">
          </div>
          <div class="col-xs-6 text-left pb-21">
            <img src="assets/img/Foto2.jpg" alt="" srcset="assets/img/Foto2-480.jpg 480w, assets/img/Foto2-720.jpg 720w, assets/img/Foto2-940.jpg 940w, assets/img/Foto2-1140.jpg 1140w">
          </div>
          <div class="container text-left nosotros">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, voluptatum natus repellendus quod minus qui, sapiente eum delectus itaque porro quam consequatur maiores laboriosam. Maxime sed, reprehenderit modi ipsam provident!</p>
          </div>
        </div>
      </div>
    </section>


    <section id="reconocimientos-logros">
      <div class="container">
        <div class="row page-block text-center nosotros-reconocimientos-logros">
          <h2>Reconocimientos y logros</h2>
          <ul class="grid-list grid-list-4 grid-list-2-xs">
            <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
            <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
            <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
            <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
            <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          </ul>
        </div>
      </div>
    </section>

{embed="includes/footer"}