{embed="includes/head"}

      <!-- 1st Section: Big image -->
      <div class="image-heroe" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>

      <!-- 2nd Section:  -->
      <div class="container-fluid">
        <div class="row text-center page-block">
          <h2>Nuestros Programas</h2>
          <div class="col-sm-4 ph-63">
            <img src="assets/img/Foto2.JPG" alt="" class="img-responsive" srcset="assets/img/Foto2-480.JPG 480w, assets/img/Foto2-720.JPG 720w, assets/img/Foto2-940.JPG 940w, assets/img/Foto2-1140.JPG 1140w">
            <h3>Plataforma Creativa</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quis distinctio eos numquam et neque vel ea quae obcaecati nam doloremque, quos magni dolore.</p>
          </div>
          <div class="col-sm-4 ph-63">
            <img src="assets/img/Foto2.JPG" alt="" class="img-responsive" srcset="assets/img/Foto2-480.JPG 480w, assets/img/Foto2-720.JPG 720w, assets/img/Foto2-940.JPG 940w, assets/img/Foto2-1140.JPG 1140w">
            <h3>Escuela de emprendedores</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quidem tenetur eius officiis, perferendis nobis esse maiores. Sequi dolore quisquam, temporibus.</p>
          </div>
          <div class="col-sm-4 ph-63">
            <img src="assets/img/Foto2.JPG" alt="" class="img-responsive" srcset="assets/img/Foto2-480.JPG 480w, assets/img/Foto2-720.JPG 720w, assets/img/Foto2-940.JPG 940w, assets/img/Foto2-1140.JPG 1140w">
            <h3>Tejiendo oportunidades</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, et. Quo vero ipsa maiores odit doloribus ad iure voluptatum itaque, blanditiis iste reprehenderit.</p>
          </div>
        </div>
        <div class="row text-center page-block bg-gray">
          <h2>Nuestras Estrategias Transversales</h2>
          <div class="col-sm-4">
            <img src="assets/img/svg/paisaje.svg" alt="" srcset="assets/img/svg/paisaje-480.svg 480w, assets/img/svg/paisaje-720.svg 720w, assets/img/svg/paisaje-940.svg 940w, assets/img/svg/paisaje-1140.svg 1140w">
            <h3><a href="">Estrategia Ambiental</a></h3>          </div>
          <div class="col-sm-4">
            <img src="assets/img/svg/paisaje.svg" alt="" srcset="assets/img/svg/paisaje-480.svg 480w, assets/img/svg/paisaje-720.svg 720w, assets/img/svg/paisaje-940.svg 940w, assets/img/svg/paisaje-1140.svg 1140w">
            <h3><a href="">Estrategia de Desarrollo Integral</a></h3>          </div>
          <div class="col-sm-4">
            <img src="assets/img/svg/paisaje.svg" alt="" srcset="assets/img/svg/paisaje-480.svg 480w, assets/img/svg/paisaje-720.svg 720w, assets/img/svg/paisaje-940.svg 940w, assets/img/svg/paisaje-1140.svg 1140w">
            <h3><a href="">Estrategia Nutricional</a></h3>          </div>
        </div>
        <div class="row text-center page-block">
          <h2>Nuestras &#xC1;reas de Intervenci&#xF3;n</h2>
          <div class="col-sm-6">
            <a href=""><img src="assets/img/Foto2.JPG" alt="" class="img-responsive" srcset="assets/img/Foto2-480.JPG 480w, assets/img/Foto2-720.JPG 720w, assets/img/Foto2-940.JPG 940w, assets/img/Foto2-1140.JPG 1140w"></a>
            <h3><a href="">Manchay</a></h3>
          </div>
          <div class="col-sm-6">
            <a href=""><img src="assets/img/Foto2.JPG" alt="" class="img-responsive" srcset="assets/img/Foto2-480.JPG 480w, assets/img/Foto2-720.JPG 720w, assets/img/Foto2-940.JPG 940w, assets/img/Foto2-1140.JPG 1140w"></a>
            <h3><a href="">Huancavelica</a></h3>
          </div>
        </div>
      </div> 


{embed="includes/footer"}
