{embed="includes/head"}

		{exp:channel:entries channel="nosotros" limit="1"}
		<div class="miniimage-heroe" style="background:url('{hero_image}') center center / cover no-repeat;"></div>
    <section id="mision-vision">
      <div class="container">
        <div class="row page-block text-center nosotros-mision-vision">
          <div class="col-sm-6 mt-14">
            <img src="{site_url}app/assets/img/svg/mision.svg" class="ignore-srcset" alt="">
            <h2 class="pb-0 mt-21">Misi&#xF3;n</h2>
            <p>{mision}</p>
          </div>
          <div class="col-sm-6">
            <img src="{site_url}app/assets/img/svg/vision.svg" class="ignore-srcset" alt="">
            <h2 class="pb-0">Visi&#xF3;n</h2>
            <p>{vision}</p>
          </div>
        </div>
      </div>
    </section>

    <section id="equipo">
      <div class="container-fluid bg-gray pb-14">
        <div class="row text-center page-block nosotros-equipo pb-14">
          <h2>Equipo</h2>
          <div class="col-xs-6 text-right pb-21">
            <img src="{imagenes_equipos1}" alt="" >
          </div>
          <div class="col-xs-6 text-left pb-21">
            <img src="{imgenes_equipos_2}" alt="" >
          </div>
        </div>
        <div class="container text-center nosotros pb-70">
          <p>{equipo_introduccion}</p>
        </div>
      </div>
    </section>
		{/exp:channel:entries}

    <section id="reconocimientos-logros">
      <div class="container">
        <div class="row page-block text-center nosotros-reconocimientos-logros">
          <h2>Reconocimientos y logros</h2>
          <ul class="grid-list grid-list-4 grid-list-2-xs">
	          {exp:channel:entries channel="reconocimiento" limit="6"}
            <li><a href="{link_reconocimiento}"><img src="{imagen_reconocimeitno}" class="ignore-srcset" alt="{title}" width="100%"></a></li>
            {/exp:channel:entries}
          </ul>
        </div>
      </div>
    </section>

{embed="includes/footer"}