{embed="includes/head"}

		{exp:channel:entries channel="homepage" limit="1"}
    <section id="hero">
      <div class="hero-unit minhp-100" style="background-image: url({foto_hero})">
        <div class="overlay">
          <div class="container"></div>
        </div>
      </div>
    </section>
    <section id="bienvenidos" class="bg-gray">
      <div class="container-fluid">
        <div class="row page-block flex-middle-center text-center bienvenidos">
          <h2 class="home">{titulo_seccion_1}</h2>
          <p>{introduccin_seccion_1}</p>
          <a href="{site_url}nosotros" class="btn btn-outline2 btn-success2">Conoce más sobre nosotros</a>
        </div>
      </div>
    </section>
    {embed="includes/mision-vision"}

    <section id="nuestro-trabajo">
      <div class="container-fluid"> <!-- 3rd Section: Nuestro Trabajo -->
        <div class="row text-center page-block bg-gray flex-middle-center nuestro-trabajo">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="home mt-0 pb-70">Nuestro Trabajo</h2>
              </div>
            </div>
          </div>
          <div class="col-xs-10">
            <div class="row">
              <a href="{site_url}nuestro-trabajo">
                <div class="col-sm-4">
                  <img src="{site_url}app/assets/img/svg/programas.svg" alt="" class="ignore-srcset mb-21">
                  <h4 class="text-gray-darker">{programas_titulo}</h4>
                  <p>{programas_intro}</p>
                </div>
              </a>
              <a href="{site_url}nuestro-trabajo#estrategias">
                <div class="col-sm-4">
                  <img src="{site_url}app/assets/img/svg/estrategias.svg" alt="" class="ignore-srcset mb-21">
                  <h4 class="text-gray-darker">{estrategia_titulo}</h4>
                  <p>{estrategia_intro}</p>
                </div>
              </a>
              
              <a href="{site_url}nuestro-trabajo#areas-intervencion">
                <div class="col-sm-4">
                  <img src="{site_url}app/assets/img/svg/areas-de-intervencion.svg" alt="" class="ignore-srcset mb-21">
                  <h4 class="text-gray-darker">{areas_de_intervencin_titulo}</h4>
                  <p>{areas_de_intervencin_intro}</p>
                </div>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="involucrate">
      <div class="container-fluid pv-70" id="involucrate">
        <h2 class="home text-center">Involúcrate</h2>
        <div class="row">
	        <div class="col-sm-10 col-sm-offset-1">
	        	<div class="row pb-42">
	          <div class="col-md-3">
	            <div class="bg-img-block involucrate-block" style="background-image: url({involucrate_foto1})">
	              <div class="overlay">
	                <h3>{involucrate_titulo1}</h3>
	                <a href="" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#beca-nino">Dona</a>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="bg-img-block involucrate-block" style="background-image: url({involucrate_foto2})">
	              <div class="overlay">
	                <h3>{involucrate_titulo2}</h3>
	                <a href="" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#beca-joven">Dona</a>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="bg-img-block involucrate-block" style="background-image: url({involucrate_foto3})">
	              <div class="overlay">
	                <h3>{involucrate_titulo3}</h3>
	                <a href="" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#voluntario">Participa</a>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="bg-img-block involucrate-block" style="background-image: url({involucrate_foto4})">
	              <div class="overlay">
	                <h3>{involucrate_titulo4}</h3>
	                <a href="" class="btn btn-outline btn-sm btn-gray-lighter" data-toggle="modal" data-target="#red-empresas">Inscribete</a>
	              </div>
	            </div>
	          </div>
	        </div>
	        </div>
        </div>
      </div>
    </section>

    <section id="aliados">
      <div class="container-fluid">
        <div class="row text-center bg-gray aliados">
          <div class="col-sm-6 page-block">
            <h2 class="home">Aliados</h2>
            <ul>
              <li><a href="{aliados_link1}">{aliados_titulo1}</a></li>
              <li><a href="{aliados_link2}">{aliados_titulo2}</a></li>
              <li><a href="{aliados_link3}">{aliados_titulo3}</a></li>
              <li><a href="{aliados_link4}">{aliados_titulo4}</a></li>
            </ul>
          </div>
          <div class="col-sm-6 minhp-100 img-aliados" style="background: url({aliados_foto});"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
		{/exp:channel:entries}
		
    <section id="blog">
        <div class="container-fluid">
          <div class="row page-block blog-posts-home ph-21">
            <div class="col-xs-12">
              <h2 class="home text-center">Blog</h2>
			        <div class="row">
				        <div class="col-sm-10 col-sm-offset-1">              
			              <div class="row">
				              {exp:channel:entries channel="blog" limit="4" category="8"}
			                <div class="col-sm-3 single-blog-post-in-home">
			                  <div class="blog-post-image" style="background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url({imagen_blog});"></div>
			                  <h3><a href="{site_url}/blog/post/{url_title}">{title}</a></h3>
			                  <p class="mb-14">
				                  {exp:char_limit total="150" exact="no"}
				                  {introduccin_post}
				                  {/exp:char_limit}
				                </p>
				                <small><a href="{site_url}/blog/post/{url_title}">Lee más →</a></small>
			                </div>
			                {/exp:channel:entries}
			              </div>
				        </div>
			        </div>
            </div>
          </div>
        </div>
    </section>

    <section id="social">
      <div class="container-fluid" id="social">
        <div class="row page-block bg-gray-darkest social-section">
          <div class="container text-white">
            <h2>Encontrémonos:</h2>
            <div id="share-grid" class="grid-list grid-list-4 grid-list-2-sm grid-list-1-xs">
              <a href="https://www.facebook.com/ruwasunchis" class="grid-list-item">
                <h3 class="network-name">Comenta</h3>
                <div class="share-icon"><i class="icon-facebook"></i></div>
                <div class="overlay bg-facebook"></div>
              </a>
              <a href="https://www.youtube.com/user/Ruwasunchis" class="grid-list-item">
                <h3 class="network-name">Mira</h3>
                <div class="share-icon"><i class="icon-you-tube"></i></div>
                <div class="overlay bg-youtube"></div>
              </a>
              <a href="https://twitter.com/Ruwasunchis" class="grid-list-item">
                <h3 class="network-name">Twittea</h3>
                <div class="share-icon"><i class="icon-twitter"></i></div>
                <div class="overlay bg-twitter"></div>
              </a>
              <a href="mailto:info@ruwasunchis.org" class="grid-list-item">
                <h3 class="network-name">Contacta</h3>
                <div class="share-icon"><i class="icon-email-at"></i></div>
                <div class="overlay bg-primary"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modals -->

    <section id="modals">

      <section id="modal-beca-nino">
        <div class="modal fade beca-nino" id="beca-nino" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Dale educación integral a un niño</h2>
                <p>Puedes colaborar a darle educación a un niño, puedes hacer un depósito a la siguiente cuenta bancaria: 0011-0117-94-0100099442.</p>
                <p>Por cada 150 soles, le dan educación integral a un niño, y se le enviará un polo de Ruwasunchis con una carta  del niño.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//ruwasunchis.us10.list-manage.com/subscribe/post?u=e405eff95fb8423f7bbceb178&amp;id=5a2773769c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <label for="mce-FNAME">Nombre </label>
                  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-LNAME">Apellidos </label>
                  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email  <span class="asterisk">*</span>
                </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e405eff95fb8423f7bbceb178_5a2773769c" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email'; /*
                 * Translated default messages for the $ validation plugin.
                 * Locale: ES
                 */
                $.extend($.validator.messages, {
                  required: "Este campo es obligatorio.",
                  remote: "Por favor, rellena este campo.",
                  email: "Por favor, escribe una dirección de correo válida",
                  url: "Por favor, escribe una URL válida.",
                  date: "Por favor, escribe una fecha válida.",
                  dateISO: "Por favor, escribe una fecha (ISO) válida.",
                  number: "Por favor, escribe un número entero válido.",
                  digits: "Por favor, escribe sólo dígitos.",
                  creditcard: "Por favor, escribe un número de tarjeta válido.",
                  equalTo: "Por favor, escribe el mismo valor de nuevo.",
                  accept: "Por favor, escribe un valor con una extensión aceptada.",
                  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
                  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
                  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
                  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
                  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
                  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
                });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
              </div>
            </form>
            </div>
          </div>
        </div>
      </section>

      <section id="modal-beca-joven">
        <div class="modal fade beca-nino" id="beca-joven" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Beca a un joven para que cumpla sus sueños</h2>
                <p>Puedes colaborar a darle educación a un joven, puedes hacer un depósito a la siguiente cuenta bancaria: 0011-0117-94-0100099442.</p>
                <p>Código de Cuenta Interbancaria: (CCI): 01111700010009944294 </p>
                <p>Por cada 3000 soles (o juntar un grupo de amigos que lo haga) por joven recibira educación integral a través de la Escuela de Emprendedores Comunitarios, y podrán ser los mentores del joven, junto con nuestro acompañamiento.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//ruwasunchis.us10.list-manage.com/subscribe/post?u=e405eff95fb8423f7bbceb178&amp;id=6eea56e3b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <label for="mce-FNAME">Nombres </label>
                  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-LNAME">Apellidos </label>
                  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email  <span class="asterisk">*</span>
                </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e405eff95fb8423f7bbceb178_6eea56e3b3" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email'; /*
                 * Translated default messages for the $ validation plugin.
                 * Locale: ES
                 */
                $.extend($.validator.messages, {
                  required: "Este campo es obligatorio.",
                  remote: "Por favor, rellena este campo.",
                  email: "Por favor, escribe una dirección de correo válida",
                  url: "Por favor, escribe una URL válida.",
                  date: "Por favor, escribe una fecha válida.",
                  dateISO: "Por favor, escribe una fecha (ISO) válida.",
                  number: "Por favor, escribe un número entero válido.",
                  digits: "Por favor, escribe sólo dígitos.",
                  creditcard: "Por favor, escribe un número de tarjeta válido.",
                  equalTo: "Por favor, escribe el mismo valor de nuevo.",
                  accept: "Por favor, escribe un valor con una extensión aceptada.",
                  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
                  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
                  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
                  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
                  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
                  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
                });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
              </div>         
            </div>
          </div>
        </div>
      </section>

      <section id="modal-voluntario">
        <div class="modal fade beca-nino" id="voluntario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Sé voluntario</h2>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//ruwasunchis.us10.list-manage.com/subscribe/post?u=e405eff95fb8423f7bbceb178&amp;id=8337afcd82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <label for="mce-FNAME">Nombre </label>
                  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-LNAME">Apellido </label>
                  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                  <label for="mce-MMERGE5">Teléfono </label>
                  <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
                </div>
                <div class="mc-field-group">
                  <label for="mce-MMERGE4">Cuéntanos sobre ti: </label>
                  <textarea type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4"> </textarea> 
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e405eff95fb8423f7bbceb178_8337afcd82" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[5]='MMERGE5';ftypes[5]='text';fnames[4]='MMERGE4';ftypes[4]='text'; /*
                 * Translated default messages for the $ validation plugin.
                 * Locale: ES
                 */
                $.extend($.validator.messages, {
                  required: "Este campo es obligatorio.",
                  remote: "Por favor, rellena este campo.",
                  email: "Por favor, escribe una dirección de correo válida",
                  url: "Por favor, escribe una URL válida.",
                  date: "Por favor, escribe una fecha válida.",
                  dateISO: "Por favor, escribe una fecha (ISO) válida.",
                  number: "Por favor, escribe un número entero válido.",
                  digits: "Por favor, escribe sólo dígitos.",
                  creditcard: "Por favor, escribe un número de tarjeta válido.",
                  equalTo: "Por favor, escribe el mismo valor de nuevo.",
                  accept: "Por favor, escribe un valor con una extensión aceptada.",
                  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
                  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
                  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
                  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
                  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
                  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
                });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
              </div>         
            </div>
          </div>
        </div>
      </section>

      <section id="modal-red-empresas">
        <div class="modal fade beca-nino" id="red-empresas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <h2 class="text-center">Únete a nosotros</h2>
                <p>Para poder generar el cambio por el cual trabajamos, necesitamos que las empresas se sumen a la causa. Así podemos generar sinergias, y realizar actividades de voluntariado corporativo en comunidades vulnerables.</p>
                <p>Para más información, envía un correo a <a href="mailto:hola@ruwasunchis.org">hola@ruwasunchis.org</a></p>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//ruwasunchis.us10.list-manage.com/subscribe/post?u=e405eff95fb8423f7bbceb178&amp;id=5adcbe424f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <label for="mce-FNAME">Nombres </label>
                  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-LNAME">Apellidos </label>
                  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                  <label for="mce-MMERGE3">Cuéntanos sobre tu empresa: </label>
                  <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e405eff95fb8423f7bbceb178_5adcbe424f" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg"></div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text'; /*
                 * Translated default messages for the $ validation plugin.
                 * Locale: ES
                 */
                $.extend($.validator.messages, {
                  required: "Este campo es obligatorio.",
                  remote: "Por favor, rellena este campo.",
                  email: "Por favor, escribe una dirección de correo válida",
                  url: "Por favor, escribe una URL válida.",
                  date: "Por favor, escribe una fecha válida.",
                  dateISO: "Por favor, escribe una fecha (ISO) válida.",
                  number: "Por favor, escribe un número entero válido.",
                  digits: "Por favor, escribe sólo dígitos.",
                  creditcard: "Por favor, escribe un número de tarjeta válido.",
                  equalTo: "Por favor, escribe el mismo valor de nuevo.",
                  accept: "Por favor, escribe un valor con una extensión aceptada.",
                  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
                  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
                  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
                  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
                  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
                  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
                });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
              </div>         
            </div>
          </div>
        </div>
      </section>

    </section>
    
{embed="includes/footer"}