{embed="includes/head"}

    <div class="miniimage-heroe" style="background:url(&apos;assets/img/Foto2.jpg&apos;) center center / cover no-repeat;"></div>
    <section id="socios-corporativos">
      <div class="container page-block page-block-mini page-block-less-padding-top socios">
        <h2 class="text-center">Socios Corporativos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo autem officia laboriosam voluptatibus eum ipsa nisi aspernatur cumque, mollitia quod, dolore in natus maiores aut, iusto et aperiam dolorem quia?</p>
        <ul class="grid-list grid-list-4 grid-list-2-xs">
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        </ul>
      </div>
    </section>


    <section id="aliados-internacionales">
      <div class="container-fluid bg-gray">
        <div class="container page-block page-block-mini page-block-less-padding-top socios">
          <h2 class="text-center">Aliados Internacionales</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo autem officia laboriosam voluptatibus eum ipsa nisi aspernatur cumque, mollitia quod, dolore in natus maiores aut, iusto et aperiam dolorem quia?</p>
          <ul class="grid-list grid-list-4 grid-list-2-xs">
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        </ul>
        </div>
      </div>
    </section>

    <section id="aliados-nacionales">
      <div class="container page-block page-block-mini page-block-less-padding-top socios">
        <h2 class="text-center">Aliados Nacionales</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo autem officia laboriosam voluptatibus eum ipsa nisi aspernatur cumque, mollitia quod, dolore in natus maiores aut, iusto et aperiam dolorem quia?</p>
        <ul class="grid-list grid-list-4 grid-list-2-xs">
        <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
      </ul>
      </div>
    </section>

    <section id="empresas-colaboradoras">
      <div class="container-fluid bg-gray">
        <div class="container page-block page-block-mini page-block-less-padding-top socios">
          <h2 class="text-center">Empresas Colaboradoras</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo autem officia laboriosam voluptatibus eum ipsa nisi aspernatur cumque, mollitia quod, dolore in natus maiores aut, iusto et aperiam dolorem quia?</p>
          <ul class="grid-list grid-list-4 grid-list-2-xs">
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
          <li><img src="assets/img/svg/mision.svg" class="ignore-srcset" alt=""></li>
        </ul>
        </div>
      </div>
    </section>

{embed="includes/footer"}
