{embed="includes/head_en"}

		{exp:channel:entries channel="nosotros_en" limit="1"}
      <div class="miniimage-heroe" style="background:url({hero_image}) center center / cover no-repeat;"></div>
    <!-- <section id="heroe-image">
    </section> -->

    <section id="mision-vision">
      <div class="container">
        <div class="row page-block text-center nosotros-mision-vision">
          <div class="col-sm-6 pt-14">
            <img src="{site_url}app/assets/img/svg/mision.svg" class="ignore-srcset" alt="">
            <h2>Mission</h2>
            <p>{mision}</p>
          </div>
          <div class="col-sm-6">
            <img src="{site_url}app/assets/img/svg/vision.svg" class="ignore-srcset" alt="">
            <h2>Vission</h2>
            <p>{vision}</p>
          </div>
        </div>
      </div>
    </section>

    <section id="equipo">
      <div class="container-fluid">
        <div class="row text-center page-block bg-gray nosotros-equipo">
          <h2>Team</h2>
          <div class="col-xs-6 text-right pb-21">
            <img src="{imagenes_equipos_1}" alt="" srcset="{imagenes_equipos_1} 480w, {imagenes_equipos_1} 720w, {imagenes_equipos_1} 940w, {imagenes_equipos_1} 1140w">
          </div>
          <div class="col-xs-6 text-left pb-21">
            <img src="{imgenes_equipos_2}" alt="" srcset="{imgenes_equipos_2} 480w, {imgenes_equipos_2} 720w, {imgenes_equipos_2} 940w, {imgenes_equipos_2} 1140w">
          </div>
          <div class="container text-center nosotros">
            <p>{equipo_introduccion}</p>
          </div>
        </div>
      </div>
    </section>
		{/exp:channel:entries}

    <section id="reconocimientos-logros">
      <div class="container">
        <div class="row page-block text-center nosotros-reconocimientos-logros">
          <h2>Awards and achievements</h2>
          <ul class="grid-list grid-list-4 grid-list-2-xs">
	          {exp:channel:entries channel="reconocimiento" limit="1"}
            <li><a href="{link_reconocimiento}"><img src="{imagen_reconocimeitno}" class="ignore-srcset" alt="{title}"></a></li>
            {/exp:channel:entries}
          </ul>
        </div>
      </div>
    </section>

{embed="includes/footer"}