{embed="includes/head"}

      <section id="image-heroe">
        <div class="image-heroe" style="background:url({site_url}app/assets/img/Foto_1.JPG) center center / cover no-repeat;"></div>
      </section>

      <section id="programas">
        <div class="container-fluid">
          <div class="row text-center page-block nuestro-trabajo">
            <h2>Nuestros Programas</h2>
            <div class="row">
	            <div class="col-sm-10 col-sm-offset-1">
		            {exp:channel:entries channel="nuestro_trabajo" limit="3" category="1"}
		            <div class="col-sm-4">
			            {nuestro_trabajo_imagen}
		              <img src="{image:url:medium}" alt="{title}" class="img-responsive" width="100%">
		              {/nuestro_trabajo_imagen}
		              <h4 class="text-gray-darker capitalize pt-21"><a href="{site_url}nuestro-trabajo/programa/{url_title}">{title}</a></h4>
		              <p>
			              {exp:char_limit total="150" exact="no"}
			              {nuestro_trabajo_introduccin}
										{/exp:char_limit} 
			            </p>
		            </div>
		            {/exp:channel:entries}		            
	            </div>
            </div>
          </div>
				</div>
      </section>

      <section id="estrategias">
	      <div class="container-fluid">
	        <div class="row text-center page-block bg-gray">
	          <h2>Nuestras Estrategias Transversales</h2>
            <div class="row">
	            <div class="col-sm-10 col-sm-offset-1">	          
			          {exp:channel:entries channel="nuestro_trabajo" limit="3" category="2"}
			          <div class="col-sm-4">
			            {nuestro_trabajo_imagen}
		              <img src="{image:url:medium}" alt="{title}" width="120px">
		              {/nuestro_trabajo_imagen}
			            <h3><a href="{site_url}nuestro-trabajo/programa/{url_title}">{title}</a></h3>
			          </div>
			          {/exp:channel:entries}
	            </div>
            </div>
	        </div>
	      </div>
      </section>

      <section id="areas-intervencion">
	      <div class="container-fluid">
	        <div class="row text-center page-block areas-de-intervencion">
	          <h2>Nuestras &#xC1;reas de Intervenci&#xF3;n</h2>
            <div class="row">
	            <div class="col-sm-10 col-sm-offset-1">	 	          
			          {exp:channel:entries channel="nuestro_trabajo" limit="2" category="3"}
			          <div class="col-sm-6">
			            <a href="{site_url}nuestro-trabajo/programa/{url_title}">
				            {nuestro_trabajo_imagen}
			              <img src="{image:url:medium}" alt="{title}" class="img-responsive" width="100%">
			              {/nuestro_trabajo_imagen}
				          </a>
			            <h3><a href="{site_url}nuestro-trabajo/programa/{url_title}">{title}</a></h3>
			          </div>
			          {/exp:channel:entries}
	            </div>
            </div>
	        </div>
	      </div>
      </section>

{embed="includes/footer"}
