{exp:channel:entries channel="nuestro_trabajo" limit="1"}
{embed="includes/head"}
    <section id="blog-post">
      <div class="container blog-post-title page-block page-block-mini">
        <h2 class="pb-0 m-0">{title}</h2>
        <small>{current_time format="%d %F, %Y"}</small>
      </div>

      <div class="main-gallery mb-35">
        {exp:channel:entries channel="nuestro_trabajo" limit="3" category="1|2|3"}
        {slider}
        <div class="gallery-cell bg-img-block" style="background-image:url('{image:url}'); height:100%;"></div>
        {/slider}
        {/exp:channel:entries}
      </div>




      <!-- <div class="container-fluid ph-0">
        <div class="flexslider">
          <ul class="slides">
            {exp:channel:entries channel="nuestro_trabajo" limit="3" category="1|2|3"}
            {programas_imagen}
            <li data-thumb="slide1-thumb.jpg">
              <img src="{image:url:large}" />
            </li>
            {/programas_imagen}
            {/exp:channel:entries}
          </ul>
        </div>
      </div> -->
      <div class="container p-0">
        <p>{nuestro_trabajo_contenido}</p>
      </div>
    </section>
{/exp:channel:entries}
    
{embed="includes/footer"}
